<div id="contact-form">
  <form action="/" method="POST">
    <div class="form-name">
      <label for="">*Name:</label>
      <input type="text" name="form-name" value="" autocomplete="off" required>
    </div>
    <div class="form-email">
      <label for="">E-mail:</label>
      <input type="email" name="form-email" value="" autocomplete="off">
    </div>
    <div class="form-body">
      <label for="">*Mesasge:</label>
      <textarea name="form-body" rows="6" cols="80" autocomplete="off" required></textarea>
    </div>
    <div>
      <p><em>*Required field</em></p>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<div class="links">
  <a href="https://github.com/Zoo-plankton"><i class="fab fa-github-square"></i></a>
  <a href="https://www.linkedin.com/in/zackhann/"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.facebook.com/zhann1"><i class="fab fa-facebook-square"></i></a>
</div>
