<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zack Hann</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,500|Source+Code+Pro:300,400|Raleway:500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/mock.css">
  </head>
  <body>

    <div class="bg">
    </div>

    <div class="mock-container">
      <div class="mock">
        <img src="../img/WebsiteFinal.jpg" alt="">
        <p>Photo Credits:
          <a href="https://unsplash.com/@mzemlickis">@mzemlickis</a> -
          <a href="https://unsplash.com/@quinoal">@quinoal</a> -
          <a href="https://unsplash.com/@gohrhyyan">@gohrhyyan</a> -
          <a href="https://unsplash.com/@yuricatalano">@yuricatalano</a>
        </p>
      </div>
      <div class="pen">
        <p data-height="635" data-theme-id="0" data-slug-hash="LBYaGr" data-default-tab="result" data-user="Zoop" data-embed-version="2" data-pen-title="Mock Site Goodies" class="codepen">
          See the Pen
          <a href="https://codepen.io/Zoop/pen/LBYaGr/">Mock Site Goodies</a>
          by Zack (<a href="https://codepen.io/Zoop">@Zoop</a>) on
          <a href="https://codepen.io">CodePen</a>.
        </p>

      </div>
    </div>

    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<!-- https://unsplash.com/@mzemlickis, https://unsplash.com/@quinoal, https://unsplash.com/@gohrhyyan, https://unsplash.com/@yuricatalano -->

</body>
</html>
